{% extends'base.html.twig' %}
{%block title %} {{ title }} {% endblock %}

{% block body %}


    {# une page pour que le client puisse réaliser un devis pour une prestation de service #}


    <p>
        Cette page contient <strong>uniquement</strong> du code HTML.<br />
        Voici quelques petits tests :
    </p>

    <ul>
        <li style="color: blue;">Texte en bleu</li>
        <li style="color: red;">Texte en rouge</li>
        <li style="color: green;">Texte en vert</li>
    </ul>


{% endblock %}